# Exploratory data analysis (EDA)
Exploratory data analysis is an approach of analyzing data sets to summarize their main characteristics, often using statistical graphics and other data visualization methods. A statistical model can be used or not, but primarily EDA is for seeing what the data can tell us beyond the formal modeling or hypothesis testing task.

### Importing scripts folder

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))

### Loading Libraries we will use in the project

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
sns.set()

### Importing scripts & modules

In [5]:
from helper import MyHelper
import utility
import plots

### Loading the data

In [13]:
CSV_PATH = "Data/store.csv"

In [14]:
# the class has utility function we are going to use
Helper = MyHelper()

In [15]:
# we use our helper function to read csv data
# we treate values like 'n/a', 'na', 'undefined' as missing values

df = Helper.read_csv(CSV_PATH)

>> file read as csv

In [16]:
df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# Exploring the data

### Getting the basic info about the dataset

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

### Getting the basic description of the dataset

In [18]:
df.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1112.000000,761.000000,761.000000,1115.000000,571.000000,571.000000
mean,558.00000,5404.901079,7.224704,2008.668857,0.512108,23.595447,2011.763573
std,322.01708,7663.174720,3.212348,6.195983,0.500078,14.141984,1.674935
min,1.00000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,717.500000,4.000000,2006.000000,0.000000,13.000000,2011.000000
50%,558.00000,2325.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6882.500000,10.000000,2013.000000,1.000000,37.000000,2013.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000

In [19]:
print(f" There are {df.shape[0]} rows and {df.shape[1]} columns")

 There are 1115 rows and 10 columns

### Checking for duplicates

In [20]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1110    False
1111    False
1112    False
1113    False
1114    False
Length: 1115, dtype: bool

In [21]:
#Droping if there is any duplicates in the dataset
df.drop_duplicates()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

### Checking the null counts

In [22]:
df.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

### Checking for missing values

In [26]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(df)

The dataset contains 21.01 % missing values.

In [25]:
# drop columns with more than 30% missing values
df_clean = df.drop(['Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'], axis=1)
df_clean.shape

(1115, 7)

In [27]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(df_clean)

The dataset contains 9.11 % missing values.

In [29]:
# fill missing with ffill method for columns (diag_1, diag_2, diag_3)

def fix_missing_ffill(df, col):
    df[col] = df[col].fillna(method='ffill')
    return df[col]


def fix_missing_bfill(df, col):
    df[col] = df[col].fillna(method='bfill')
    return df[col]

df_clean['CompetitionOpenSinceYear'] = fix_missing_ffill(df_clean, 'CompetitionOpenSinceYear')
df_clean['CompetitionOpenSinceMonth'] = fix_missing_ffill(df_clean, 'CompetitionOpenSinceMonth')

# fill 'race' column with mode 
df_clean['CompetitionDistance'] = df_clean['CompetitionDistance'].fillna(df_clean['CompetitionDistance'].mode()[0])

In [30]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(df_clean)

The dataset contains 0.0 % missing values.

In [31]:
df_clean.columns

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2'],
      dtype='object')

In [32]:
df_clean.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
dtype: object

In [34]:
def to_int(x):
    return int(x)
# use function to convert floats to int

df_clean['CompetitionOpenSinceYear'] = df_clean['CompetitionOpenSinceYear'].apply(to_int)
df_clean['CompetitionOpenSinceMonth'] = df_clean['CompetitionOpenSinceMonth'].apply(to_int)
df_clean.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2
0,1,c,a,1270.0,9,2008,0
1,2,a,a,570.0,11,2007,1
2,3,a,a,14130.0,12,2006,1
3,4,c,c,620.0,9,2009,0
4,5,a,a,29910.0,4,2015,0

In [35]:
df_clean['date']=df_clean['CompetitionOpenSinceYear'].astype('str') + '-' + df_clean['CompetitionOpenSinceMonth'].astype(str)

In [36]:
df_clean['date'] = pd.to_datetime(df_clean['date'])

In [40]:
df_clean.drop(['CompetitionOpenSinceYear','CompetitionOpenSinceMonth'],axis=1,inplace=True)

In [41]:
df_clean.head(2)

   Store StoreType Assortment  CompetitionDistance  Promo2       date
0      1         c          a               1270.0       0 2008-09-01
1      2         a          a                570.0       1 2007-11-01

In [42]:
CLEANED_CSV_PATH = "new_data/storenew.csv"
Helper.save_csv(df_clean, CLEANED_CSV_PATH)

>> File Successfully Saved.!!!

      Store StoreType Assortment  CompetitionDistance  Promo2       date
0         1         c          a               1270.0       0 2008-09-01
1         2         a          a                570.0       1 2007-11-01
2         3         a          a              14130.0       1 2006-12-01
3         4         c          c                620.0       0 2009-09-01
4         5         a          a              29910.0       0 2015-04-01
...     ...       ...        ...                  ...     ...        ...
1110   1111         a          a               1900.0       1 2014-06-01
1111   1112         c          c               1880.0       0 2006-04-01
1112   1113         a          c               9260.0       0 2006-04-01
1113   1114         a          c                870.0       0 2006-04-01
1114   1115         d          c               5350.0       1 2006-04-01

[1115 rows x 6 columns]