# Exploratory data analysis (EDA)
Exploratory data analysis is an approach of analyzing data sets to summarize their main characteristics.

### Importing scripts folder

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))

### Loading Libraries we will use in the project

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
sns.set()

### Importing scripts & modules

In [3]:
from helper import MyHelper
import utility
import plots

### Loading the data

In [7]:
CSV_PATH1 = "../data/train.csv"
CSV_PATH2 = "../data/test.csv"
CSV_PATH3 = "../data/store.csv"

In [5]:
# the class has utility function we are going to use
Helper = MyHelper()

In [8]:
# we use our helper function to read csv data
train = Helper.read_csv(CSV_PATH1)
test = Helper.read_csv(CSV_PATH2)
store = Helper.read_csv(CSV_PATH3)

>> file read as csv
>> file read as csv
>> file read as csv

In [9]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [10]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [11]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# Exploring the data

### Getting the basic info about the dataset

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  object
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

### Getting the basic description of the dataset

In [14]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [15]:
test.describe()

,Id,Store,DayOfWeek,Open,Promo,SchoolHoliday
count,41088.000000,41088.000000,41088.000000,41077.000000,41088.000000,41088.000000
mean,20544.500000,555.899533,3.979167,0.854322,0.395833,0.443487
std,11861.228267,320.274496,2.015481,0.352787,0.489035,0.496802
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,10272.750000,279.750000,2.000000,1.000000,0.000000,0.000000
50%,20544.500000,553.500000,4.000000,1.000000,0.000000,0.000000
75%,30816.250000,832.250000,6.000000,1.000000,1.000000,1.000000
max,41088.000000,1115.000000,7.000000,1.000000,1.000000,1.000000

In [16]:
train.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

In [17]:
store.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1112.000000,761.000000,761.000000,1115.000000,571.000000,571.000000
mean,558.00000,5404.901079,7.224704,2008.668857,0.512108,23.595447,2011.763573
std,322.01708,7663.174720,3.212348,6.195983,0.500078,14.141984,1.674935
min,1.00000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,717.500000,4.000000,2006.000000,0.000000,13.000000,2011.000000
50%,558.00000,2325.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6882.500000,10.000000,2013.000000,1.000000,37.000000,2013.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000

### Checking for duplicates

In [18]:
store.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1110    False
1111    False
1112    False
1113    False
1114    False
Length: 1115, dtype: bool

In [19]:
#Droping if there is any duplicates in the dataset
store.drop_duplicates()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

### Checking the null counts

In [20]:
store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

### Checking for missing values

In [21]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(store)

The dataset contains 21.01 % missing values.

In [22]:
# drop columns with more than 30% missing values
store_clean = store.drop(['Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'], axis=1)
store_clean.shape

(1115, 7)

In [23]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(store_clean)

The dataset contains 9.11 % missing values.

In [24]:
# fill missing with ffill method for columns (diag_1, diag_2, diag_3)

def fix_missing_ffill(df, col):
    df[col] = df[col].fillna(method='ffill')
    return df[col]


def fix_missing_bfill(df, col):
    df[col] = df[col].fillna(method='bfill')
    return df[col]

store_clean['CompetitionOpenSinceYear'] = fix_missing_ffill(store_clean, 'CompetitionOpenSinceYear')
store_clean['CompetitionOpenSinceMonth'] = fix_missing_ffill(store_clean, 'CompetitionOpenSinceMonth')

# fill 'race' column with mode 
store_clean['CompetitionDistance'] = store_clean['CompetitionDistance'].fillna(store_clean['CompetitionDistance'].mode()[0])

In [25]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(store_clean)

The dataset contains 0.0 % missing values.

In [26]:
test.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41083    False
41084    False
41085    False
41086    False
41087    False
Length: 41088, dtype: bool

In [27]:
#Droping if there is any duplicates in the dataset
test.drop_duplicates()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [28]:
test.isnull().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [29]:
def fix_missing_ffill(df, col):
    df[col] = df[col].fillna(method='ffill')
    return df[col]
test['Open'] = fix_missing_ffill(test, 'Open')

In [30]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(test)

The dataset contains 0.0 % missing values.

In [34]:
store_clean.isnull().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
dtype: int64

In [36]:
# concatinating test and train dataset 
df=pd.concat([test,train])

In [37]:
test.shape

(41088, 8)

In [38]:
train.shape

(1017209, 9)

In [41]:
train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [42]:
test.columns

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday'],
      dtype='object')

In [39]:
df.shape

(1058297, 10)

In [40]:
df.isnull().sum()

Id               1017209
Store                  0
DayOfWeek              0
Date                   0
Open                   0
Promo                  0
StateHoliday           0
SchoolHoliday          0
Sales              41088
Customers          41088
dtype: int64

In [44]:
# drop columns with more than 30% missing values
df_clean = df.drop(['Id'], axis=1)
df_clean.shape

(1058297, 9)

In [46]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(df_clean)

The dataset contains 0.86 % missing values.

In [52]:
# fill missing with ffill method for columns (diag_1, diag_2, diag_3)

def fix_missing_ffill(df, col):
    df[col] = df[col].fillna(method='ffill')
    return df[col]


def fix_missing_bfill(df, col):
    df[col] = df[col].fillna(method='bfill')
    return df[col]

df_clean['Sales'] = fix_missing_ffill(df_clean, 'Sales')
df_clean['Customers'] = fix_missing_ffill(df_clean,'Customers')
df_clean['Sales'] = fix_missing_bfill(df_clean, 'Sales')
df_clean['Customers'] = fix_missing_bfill(df_clean,'Customers')

In [53]:
df_clean.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
Sales            0
Customers        0
dtype: int64

In [54]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(df_clean)

The dataset contains 0.0 % missing values.

In [56]:
df_clean.columns

Index(['Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'Sales', 'Customers'],
      dtype='object')

In [57]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058297 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1058297 non-null  int64
 1   DayOfWeek      1058297 non-null  int64
 2   Date           1058297 non-null  object
 3   Open           1058297 non-null  float64
 4   Promo          1058297 non-null  int64
 5   StateHoliday   1058297 non-null  object
 6   SchoolHoliday  1058297 non-null  int64
 7   Sales          1058297 non-null  float64
 8   Customers      1058297 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 80.7+ MB

In [58]:
df_clean.StateHoliday.unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [59]:
clean=df_clean.copy(deep=True)

In [60]:
y=clean.query("StateHoliday=='0'")

In [61]:
for i in y.index:
    clean.update(pd.Series(["0"],name=0,index=[i]))

KeyboardInterrupt:

In [76]:
#joining the clean dataset with the store dataset 
new = clean.merge(store_clean, on='Store')
new.head()

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Sales,Customers,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2
0,1,4,2015-09-17,1.0,1,0,0,5263.0,555.0,c,a,1270.0,9.0,2008.0,0
1,1,3,2015-09-16,1.0,1,0,0,5263.0,555.0,c,a,1270.0,9.0,2008.0,0
2,1,2,2015-09-15,1.0,1,0,0,5263.0,555.0,c,a,1270.0,9.0,2008.0,0
3,1,1,2015-09-14,1.0,1,0,0,5263.0,555.0,c,a,1270.0,9.0,2008.0,0
4,1,7,2015-09-13,0.0,0,0,0,5263.0,555.0,c,a,1270.0,9.0,2008.0,0

In [77]:
#The percent_missing function checkes any missing values and convert it into percentage 

utility.percent_missing(new)

The dataset contains 0.0 % missing values.

In [73]:
CLEANED_CSV_PATH = "../data/new.csv"
Helper.save_csv(df, CLEANED_CSV_PATH)

>> File Successfully Saved.!!!

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Sales,Customers
0,1.0,1,4,2015-09-17,1.0,1,0,0,NaN,NaN
1,2.0,3,4,2015-09-17,1.0,1,0,0,NaN,NaN
2,3.0,7,4,2015-09-17,1.0,1,0,0,NaN,NaN
3,4.0,8,4,2015-09-17,1.0,1,0,0,NaN,NaN
4,5.0,9,4,2015-09-17,1.0,1,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1017204,NaN,1111,2,2013-01-01,0.0,0,a,1,0.0,0.0
1017205,NaN,1112,2,2013-01-01,0.0,0,a,1,0.0,0.0
1017206,NaN,1113,2,2013-01-01,0.0,0,a,1,0.0,0.0
1017207,NaN,1114,2,2013-01-01,0.0,0,a,1,0.0,0.0
1017208,NaN,1115,2,2013-01-01,0.0,0,a,1,0.0,0.0

In [78]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058297 entries, 0 to 1058296
Data columns (total 15 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1058297 non-null  int64
 1   DayOfWeek                  1058297 non-null  int64
 2   Date                       1058297 non-null  object
 3   Open                       1058297 non-null  float64
 4   Promo                      1058297 non-null  int64
 5   StateHoliday               1058297 non-null  object
 6   SchoolHoliday              1058297 non-null  int64
 7   Sales                      1058297 non-null  float64
 8   Customers                  1058297 non-null  float64
 9   StoreType                  1058297 non-null  object
 10  Assortment                 1058297 non-null  object
 11  CompetitionDistance        1058297 non-null  float64
 12  CompetitionOpenSinceMonth  1058297 non-null  float64
 13  CompetitionOpenSinceYear   1058297 non-null  float64
 14  Promo2                     1058297 non-null  int64
dtypes: float64(6), int64(5), object(4)
memory usage: 129.2+ MB

In [79]:
def to_int(x):
    return int(x)
# use function to convert floats to int

new['CompetitionOpenSinceYear'] = new['CompetitionOpenSinceYear'].apply(to_int)
new['CompetitionOpenSinceMonth'] = new['CompetitionOpenSinceMonth'].apply(to_int)

new['Open'] = new['Open'].apply(to_int)



new.head()

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Sales,Customers,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2
0,1,4,2015-09-17,1,1,0,0,5263.0,555.0,c,a,1270.0,9,2008,0
1,1,3,2015-09-16,1,1,0,0,5263.0,555.0,c,a,1270.0,9,2008,0
2,1,2,2015-09-15,1,1,0,0,5263.0,555.0,c,a,1270.0,9,2008,0
3,1,1,2015-09-14,1,1,0,0,5263.0,555.0,c,a,1270.0,9,2008,0
4,1,7,2015-09-13,0,0,0,0,5263.0,555.0,c,a,1270.0,9,2008,0

In [80]:
# extracting date for the competition since from month and year columns.
new['compdate']=new['CompetitionOpenSinceYear'].astype('str') + '-' + new['CompetitionOpenSinceMonth'].astype(str)

In [81]:
new.drop('CompetitionOpenSinceYear',axis=1,inplace=True)

In [82]:
new.drop('CompetitionOpenSinceMonth',axis=1,inplace=True)

In [83]:
new['compdate'] = pd.to_datetime(new['compdate'])

In [84]:
new['Date'] = pd.to_datetime(new['Date'])

In [85]:
final=new

In [88]:
new.shape

(1058297, 14)

In [87]:
final.shape

(1058297, 14)

In [89]:
CLEANED_CSV_PATH = "../data/final.csv"
Helper.save_csv(final, CLEANED_CSV_PATH)

>> File Successfully Saved.!!!

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Sales,Customers,StoreType,Assortment,CompetitionDistance,Promo2,compdate
0,1,4,2015-09-17,1,1,0,0,5263.0,555.0,c,a,1270.0,0,2008-09-01
1,1,3,2015-09-16,1,1,0,0,5263.0,555.0,c,a,1270.0,0,2008-09-01
2,1,2,2015-09-15,1,1,0,0,5263.0,555.0,c,a,1270.0,0,2008-09-01
3,1,1,2015-09-14,1,1,0,0,5263.0,555.0,c,a,1270.0,0,2008-09-01
4,1,7,2015-09-13,0,0,0,0,5263.0,555.0,c,a,1270.0,0,2008-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058292,1110,6,2013-01-05,1,0,0,0,3156.0,428.0,c,c,900.0,0,2010-09-01
1058293,1110,5,2013-01-04,1,0,0,1,3933.0,537.0,c,c,900.0,0,2010-09-01
1058294,1110,4,2013-01-03,1,0,0,1,3508.0,491.0,c,c,900.0,0,2010-09-01
1058295,1110,3,2013-01-02,1,0,0,1,4126.0,507.0,c,c,900.0,0,2010-09-01
1058296,1110,2,2013-01-01,0,0,a,1,0.0,0.0,c,c,900.0,0,2010-09-01

In [90]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058297 entries, 0 to 1058296
Data columns (total 14 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Store                1058297 non-null  int64
 1   DayOfWeek            1058297 non-null  int64
 2   Date                 1058297 non-null  datetime64[ns]
 3   Open                 1058297 non-null  int64
 4   Promo                1058297 non-null  int64
 5   StateHoliday         1058297 non-null  object
 6   SchoolHoliday        1058297 non-null  int64
 7   Sales                1058297 non-null  float64
 8   Customers            1058297 non-null  float64
 9   StoreType            1058297 non-null  object
 10  Assortment           1058297 non-null  object
 11  CompetitionDistance  1058297 non-null  float64
 12  Promo2               1058297 non-null  int64
 13  compdate             1058297 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(6), object(3)
memory usage: 121.1+ MB

In [91]:
utility.percent_missing(final)

The dataset contains 0.0 % missing values.

##### now we have a cleanded and ready for use dataset.